name: AWS IaC Governance

on:
  pull_request:
    paths:
      - 'AWS/**'
  push:
    branches:
      - master
    paths:
      - 'AWS/**'

permissions:
  id-token: write
  contents: read
  pull-requests: write

env:
  TF_WORKING_DIR: AWS

jobs:
  terraform:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ${{ env.TF_WORKING_DIR }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init (CLI Phase)
        run: terraform init -backend=false

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -no-color
