on:
  push:
    branches: [ "master" ]
    paths:
      - "azuredemo/**"
      - ".github/workflows/**"
  pull_request:
    branches: [ "master" ]
    paths:
      - "azuredemo/**"
      - ".github/workflows/**"
